<%- include("../partials/head") %>
<%- include("../partials/header") %>
<%- include("../partials/navigation", { nav: nav }) %>

<main>
  <h1><%= title %></h1>
  <div class="error-message">
    <%- message %>
  </div>
</main>

<%- include("../partials/footer") %>
